#error{
    color: #7c0b00;
    margin-left: 52px;
    margin-right: 36px;
    margin-top: 41px;
    font-size: 23px;
    font-weight: bold;
}
.background{
    position: fixed;
    z-index: 2;
    margin-left: 387px;
    margin-top: 200px;
    width: 350px;
    height: 370px;
    border: 5px solid #581c1c;
    background: #aa2322;
    border-radius: 50px;
}
.leftSide{
    margin-top: 175px;
    position: fixed;
    z-index: 1;
    margin-left: 310px;
    width: 300px;
    height: 140px;
    border: 5px solid #581c1c;
    background: #aa2322;
    transform: rotate(-35deg);
    border-radius: 20px;
}
.rightSide{
    margin-top: 180px;
    border-radius: 20px;
    position: fixed;
    z-index: 1;
    width: 285px;
    height: 140px;
    border: 5px solid #581c1c;
    background: #aa2322;
    margin-left: 529px;
    transform: rotate(35deg);
}
.top{
    position: fixed;
    z-index: 2;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid #aa2322;
    margin-top: 0px;
    margin-left: 470px;
}
.hide{
    position: fixed;
    z-index: 3;
    width: 367px;
    height: 219px;
    border-radius: 50px;
    background: #aa2322;
    margin-left: 384px;
    margin-top: 199px;
}
.borderTopLeft{
    position: fixed;
    z-index: 3;
    background: #581c1c;
    width: 157px;
    height: 5px;
    margin-left: 455px;
    margin-top: 66px;
    transform: rotate(-63deg);
}
.borderTopRight{
    position: fixed;
    z-index: 3;
    background: #581c1c;
    width: 162px;
    height: 5px;
    margin-left: 525px;
    margin-top: 70px;
    transform: rotate(62deg);
}
.screen{
    position: fixed;
    z-index: 3;
    width: 270px;
    height: 200px;
    background: rgba(48, 201, 255, 0.77);
    margin-left: 430px;
    margin-top: 350px;
    border-radius: 30px;
}
#name{
    margin-top: 40px;
    margin-left: 20px;
    float: left;
    font-weight: bold;
}
#type{
    margin-top: 40px;
    margin-right: 20px;
    float: right;
    font-weight: bold;
}
#imgPoke{
    margin-left: 84px;
    margin-top: 34px;
}
.leftEye{
    width: 84px;
    height: 111px;
    border-radius: 50px;
    background: white;
    margin-left: 453px;
    margin-top: 268px;
    position: fixed;
    z-index: 3;
    transform: rotate(-19deg);
    border: 5px solid black;
}
.inLeftEye{
    width: 49px;
    height: 73px;
    border-radius: 50px;
    background: #3883ff;
    margin-left: 476px;
    margin-top: 292px;
    position: fixed;
    z-index: 4;
    transform: rotate(-19deg);
}
.rightEye{
    width: 84px;
    height: 111px;
    border-radius: 50px;
    background: white;
    margin-left: 589px;
    margin-top: 268px;
    position: fixed;
    z-index: 3;
    transform: rotate(19deg);
    border: 5px solid black;
}
.inRightEye{
    width: 49px;
    height: 73px;
    border-radius: 50px;
    background: #3883ff;
    margin-left: 613px;
    margin-top: 292px;
    position: fixed;
    z-index: 4;
    transform: rotate(19deg);
}
.borderInEyeLeft{
    z-index: 3;
    position: fixed;
    width: 85px;
    height: 5px;
    background: black;
    margin-left: 457px;
    margin-top: 325px;
    transform: rotate(-20deg);
}
.borderInEyeRight{
    z-index: 3;
    position: fixed;
    width: 89px;
    height: 5px;
    background: black;
    margin-left: 590px;
    margin-top: 325px;
    transform: rotate(20deg);
}